div(id= 'popup' class= 'popup__wrap')
    div(class= 'popup__container')
        div(class= 'popup__title')
            div(id= 'times' class= 'popup__times-wrap')
                i(class= 'fa fa-times') 
        div(class= 'popup__controls')
            a(href= '/' class= 'popup__controls-btn') 
                i(class= 'fa fa-home')
                span Главная
            a(href= '/cart' class= 'popup__controls-btn popup__controls-btn-cart')         
                i(class= 'fa fa-shopping-cart')
                span Корзина
                span(class= 'popup__controls-btn-cart-round') 
            a(href= '/profile' class= 'popup__controls-btn')     
                i(class= 'fa fa-user')
                span Войти  
        div(class= 'popup__points')
            div(class= 'popup__points-nav')    
                a(href= 'goods?id=catid_1') Карабины, Блоки, Ролики
                a(href= 'goods?id=catid_2') Верёвки
                a(href= 'goods?id=catid_3') Каски 
                a(href= 'goods?id=catid_4') Системы и привязи
                a(href= 'goods?id=catid_5') Спусковые устройства
                a(href= 'goods?id=catid_6') Зажимы и страховочные устройства
                a(href= 'goods?id=catid_7') Прочее снаряжение
                a(href= 'goods?id=catid_8') Распродажа снаряжения                 
div(id= 'mask' class= 'popup__mask')    